html {
    font-family: "Nimbus Sans L", "Helvetica";
}

#popup {
    display: none;
    background: #444;
    color: #aaaaaa;
    width: 80%;
    height: 80%;
    border: 5px solid black;
    padding: 10px;
}

#popup h1 {
    height: 10%;
    margin: 0;
}
#popupText {
    overflow: auto;
    height: 80%;
    background: #aaa;
    color: #444;
}
#popup a {
    color: yellow;
}
.loading {
    background: url('images/mozilla_spinner.gif') no-repeat center center;
}

ul li span { 
    cursor: pointer; 
}

ul li:hover {
    color: #444;
}

#recent-commits .commit {
    padding: 1%;
    margin: 1%;
    border-top: 1px solid #aaa;
}

#recent-commits .commit + #recent-commits .commit {
    border-top-width: 0px;
    border-bottom: 1px solid #aaa;
}

.curved-box {
    border: 2px solid black;
    -moz-border-radius: 15px;
}

div.curved-box:hover {
    border-color: #444;
}

#header {
    float: left;

    margin: 1% 1% 1% 5%;
    padding: 0% 1% 0% 1%; /*top right bottom left*/
    width: 52%;

    height: 100px;
}

#the-time {
    float: left;
    margin: 1% 1% 1% 1%;
    padding: 0% 1% 0% 1%;
    width: 32%;

    height: 100px;

    font-size: 90px;
}

#about {
    float: left;
    margin: 1% 10% 1% 10%;
    padding: 1%;
    width: 78%;
}

#implementations-wrapper {
    float:left;
    margin: 1% 1% 1% 15%;
    padding: 1%;
    width: 32%;
}
#recent-commits-wrapper {
    float: left;
    margin: 1%;
    padding: 1%;
    width: 32%;
}

