html {
    font-family: "Nimbus Sans L", "Helvetica";
}


#popup {
    display: none;
    width: 78%;
    background-color: white;
    padding: 1%;
    left: 10%;
}


.bar {
    margin: 1%;
    margin-bottom: 0;
    padding: 2px;
    border: 1px solid #aaa;
    border-bottom-width: 0;
    background-color: #eee;
}

.textbox {
    border: 1px solid #aaa;
    color: #444;
    margin: 1%;
    margin-top: 0;
    padding: 1%;
}

#popupBar a {
    text-decoration: none;
}

#popupBar a:hover {
    text-decoration: underline;
}


.loading {
    background: url('images/mozilla_spinner.gif') no-repeat center center;
}

ul li span { 
    cursor: pointer; 
}

li:hover > span {
    color: #444;
}

#recent-commits .commit {
    padding: 1%;
    margin: 1%;
    border-top: 1px solid #aaa;
}

#recent-commits .commit + #recent-commits .commit {
    border-top-width: 0px;
    border-bottom: 1px solid #aaa;
}

.curved-box {
    border: 2px solid black;
    -moz-border-radius: 15px;
}

#header {
    float: left;

    margin: 1% 1% 1% 5%;
    padding: 0% 1% 0% 1%; /*top right bottom left*/
    width: 88%;

    height: 100px;
}

#header h1 {
    float: left;
}

#the-time {
    height: 100%;
    font-size: 80px;
    float: right;
}

#about {
    float: left;
    margin: 1% 10% 1% 10%;
    padding: 1%;
    width: 78%;
}

#implementations-wrapper {
    float:left;
    margin: 1% 1% 1% 15%;
    padding: 1%;
    width: 32%;
}
#recent-commits-wrapper {
    float: left;
    margin: 1%;
    padding: 1%;
    width: 32%;
}

#footer {
    float: left;
    margin: 1% 1% 1% 5%;
    padding: 1%;
    width: 88%;
}

#footer img {
    vertical-align: middle;
}

#footer a {
    color: black;
}